.slider {
  position: relative;
  margin: 0;
  padding: 0;
  width: var(--slider-width);
  height: var(--slider-width);
  border: 1px solid grey;
  cursor: pointer;
  box-sizing: content-box;
  overflow: hidden;
}

.slider__wrapper {
  display: flex;
  background-color: rgba(0, 0, 255, 0.19);
  height: 100%;
  transform: translate(0%);
}

.slider__item {
  flex-shrink: 0;
  height: 100%;
  width: var(--slider-width)
}

.slider__img {
  object-fit: cover;
  width: 100%;
  height: 100%;
}

.slider__btn {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  outline: none;
  border: none;
  border-radius: 10px;
  width: 55px;
  height: 60px;
  background-color: transparent;
  background-color: rgba(255, 255, 255, 0.508);
  cursor: pointer;
  transition: opacity 0.1s;
  z-index: 10;
}

.slider__btn__left {
  left: 0;
}

.slider__btn__right {
  right: 0;
}

.slider__btn__img {
  height: 100%;
  width: 100%;
}